body{
	background-color:#AFAFAF;
	-webkit-filter:saturate(3);
	-webkit-transition: 1s all linear ;
}

.box1 {
	background-color: rgba(0,0,0,0.2);
	width: 400px;
	height: 400px;
	opacity: 1;

	position: absolute;
	top: 25%;
	left: 30%;
	-webkit-transform-origin:50% 50%;
	-webkit-transition: 1s all linear ;
	/*-webkit-transition: 1s background-color  linear;*/
}

.box2 {
	background-color: rgba(0,0,0,0.2);
	width: 300px;
	height: 300px;
	opacity: 1;
	position: relative;
	top: 50px;
	left: 50px;
	-webkit-transform-origin:50% 50%;

	-webkit-transition:1s all linear;
	/*-webkit-transition: 1s background-color linear;*/
}

.box3 {
	background-color: rgba(255,255,255,0.3);
	width: 200px;
	height: 200px;
	opacity: 1;
	position: relative;
	top: 50px;
	left: 50px;
	-webkit-transform-origin:50% 50%;

	-webkit-transition:3s all linear;
	/*-webkit-transition: 1s background-color linear;*/
}

.box4 {
	background-color: rgba(0,0,0,0.7);
	width: 150px;
	height: 150px;
	opacity: 0;
	position: relative;
	top: 25px;
	left: 25px;
	-webkit-transform-origin:50% 50%;

	-webkit-transition:3s all linear;
	/*-webkit-transition: 1s background-color linear;*/
}
